@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
	background-image: url("https://cdn.wallpapersafari.com/29/31/8Y7zC3.jpg");
	text-align: center;
}

.box {
	width: 30%;
	padding: 30px;
	margin: 0 auto;
	margin-top: 140px;
	background: rgba( 253, 201, 238, 0.45 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 10.5px );
	-webkit-backdrop-filter: blur( 10.5px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
}

h1 {
	font-family: 'Anton', sans-serif;
	text-shadow: 4px 4px 8px #000000;
	color: white;
	letter-spacing: 1px;
}

a {
	color: white;
	text-decoration: none;
}